@keyframes chatAppear {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.invisible {
  opacity: 0;
}

.message-box {
  animation: fadeIn 1s forwards;
}

.hidden {
  animation: fadeOut 1s forwards;
}

.validation-message {
  color: red; /* Or any color that makes the message stand out */
  margin-top: 10px;
}
